html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fm-navbar {
    background-image: url('../images/bg-banner.jpg');
    background-repeat: no-repeat;
    background-color: #070B2E;
}
    .fm-navbar a.nav-link {
        color: white;
    }

    .fm-navbar .nav-item {
        color: white;
    }

    .fm-navbar .nav-name {
        color: white;
    }

.live-alerts {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    padding-top: 5px;
    z-index: 200;
}

.error-message {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 200;
}

.dialog-error-view {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 100;
    background-color: #212529;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sister-sites {
    margin-top:50px;
}
.sister-sites a {
}
    .sister-sites a::after {
        content: "\a";
        white-space: pre;
    }